version: '3.8'
services:
  app:
    build: .
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    container_name: devops-practice-container  # Contenedor de la aplicaci칩n

  # Agregado para monitoreo con Prometheus
  prometheus:
    image: prom/prometheus:latest  # Imagen de Prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml  # Archivo de configuraci칩n prometheus.yml
    ports:
      - "9090:9090"  # Exponemos Prometheus en el puerto 9090
    container_name: prometheus  # Nombre del contenedor de Prometheus
    restart: always  # Reiniciar el contenedor si falla

  # Agregado para visualizaci칩n con Grafana
  grafana:
    image: grafana/grafana:latest  # Imagen de Grafana
    ports:
      - "3000:3000"  # Exponemos Grafana en el puerto 3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin  # Contrase침a por defecto para el acceso a Grafana
    container_name: grafana  # Nombre del contenedor de Grafana
    restart: always  # Reiniciar el contenedor si falla
